header{
    
}

body {
background-color: #f1e5ff;
}

h1, h2 {
    text-align: center;
}

h2 {
  
}

#root {
  display: flex;
border-radius: 10px;
padding: 0px;
margin: 50px;
/* align-items: center;
justify-content: center; */
text-align: left;
  flex-wrap: wrap;
} 

.containerFiltro {
  font-size: 20px;
}

button{
  font-size: 16px;
  border: #8638e5 solid;
  border-radius: 25px;
}
select {
  font-size: 16px;
}
/* todo a disposição dos cards */
.container {
  align-items: center;
  justify-content: center;
  padding-left: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 150px;
  } 

.textoCard{
}
.containerLi {
  border-radius:#f1e5ff solid 25px;
  background-color: #bd8ff4c4;
  width: 180px;
}
  
ul {
    border: #8638e5;
    /* display: inline-block; */
  }
  
li {
    list-style: none;
  }
  /* texto fixo ex. categoria  */
dt{

}  
/* parte dinâmina do texto do card ex. beleza */
dd {
  display: inline-block;
  width: 75%;
  
  }
  /* todo o card */
dl {
  display: inline-block; 
  }
.imagem_card {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    align-items: center;
   }

footer {
    
}
