header{
margin: 0%;
}
body {
background-color: #f3def0;;
}
h1{
  font-family: "Raleway", sans-serif;
font-weight: 500;
margin-top: 100px;
}
h1, h2 {
  
    text-align: center;
    color: #574755;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
font-family: "Raleway", sans-serif;
font-weight: 300;
}

/* divisor entre título do hobby e texto do card */
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(46, 18, 53, 0), #a0889d, rgba(0, 0, 0, 0));
}


#root {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 75px ;
margin-bottom: 70px;
} 


  

button{
  font-size: 16px;
  border: #ddb6d8 solid;
  border-radius: 18px;
  height: 50px;
  width: 290px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
}
select {
  font-size: 16px;
  font-size: 16px;
  border: #ddb6d8 solid;
  /* border-radius: 18px; */
  height: 50px;
  width: 270px;
  text-align: center;
  letter-spacing: 2px;
}
select option {
  font-size: 16px;
  font-size: 16px;
  border: #ddb6d8 solid;
  /* background-color: #cea9c9; */
  border-radius: 18px;
  height: 50px;
  width: 250px;
  text-align: center;
  letter-spacing: 4px;
  /* line-height: 2; */
}


/* todo a disposição dos cards */
.container {
  padding-left: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex: 150px;
  gap: 30px;
  } 

.textoCard{
  margin-top: 10px;
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.3;
  color: rgb(20, 17, 17);

}
/* borda dos cards, tamanho, cor, sombra e display */
.containerLi {
  border-radius: 42px;
background: #ddb6d8;
/* box-shadow:  -6px 6px 9px #ac7da6,
             6px -6px 9px #ecc3e7; */
  /* border-radius:25px;
  background-color: #bd8ff4c4; */
  width: 267px;
  height: 460px;
  display: flex;
  justify-content: center;
}
/* div com menu dropdown filtro, botão e menu dropdown ordenação */
  .containerFiltro{
    margin-top: 60px;
display: flex;
flex-direction: row;
justify-content: center;
gap: 25px;
font-size: 20px;
font-family: "Raleway", sans-serif
}
  
ul.container {
    border: #CD8EFF;
    display: flex;
  align-items: center;
  }
  
li {
    list-style: none;
  }
  /* texto fixo ex. categoria  */
dt{
  display: flex;
  justify-content: center;
}

/* parte dinâmina do texto do card ex. beleza */
dd {
  display: inline-block;
  width: 75%;
  margin-left: 10%;
  
  }
  /* todo o card */
dl {
  display: inline-block; 
  }
.imagem_card {
    height: 200px;
    width: 200px;
    border-radius: 15px;
    align-items: center;
    margin-top: 10px;
   }
   .tituloHobby{
    font-size: 20px;
    font-weight: bold;
    /* text-align: center; */
   }

footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
color: #422a55;
border-radius: 0px;
background: #ddb6d8;
box-shadow:  -6px 6px 9px #cea9c9,
             6px -6px 9px #ecc3e7;
             text-align: center;
}

raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.custom-shape-divider-top-1707265856 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1707265856 svg {
  position: relative;
  display: block;
  width: calc(142% + 1.3px);
  height: 99px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1707265856 .shape-fill {
  fill: #DDB6D8;
}