header{
    
}

body {
background-color: #f1e5ff;
}

h1, h2 {
    text-align: center;
}

h2 {
  
}

.containerFiltro {
  font-size: 20px;
}

button{
  font-size: 16px;
  border: #8638e5 solid;
  border-radius: 25px;
}
select {
  font-size: 16px;
}
/* todo a disposição dos cards */
.container {
  padding-left: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  } 
.textoCard{
  
}
.containerLi {
  border-radius:#f1e5ff solid 25px;
  background-color: #bd8ff4c4;
  width: 220px;
}
  
ul {
    border: #8638e5;
    /* display: inline-block; */
  }
  
li {
    list-style: none;
  }
  /* texto fixo ex. categoria  */
dt{

}  
/* parte dinâmina do texto do card ex. beleza */
dd {
  display: inline-block;
  width: 75%;
  }
  /* todo o card */
dl {
  display: inline-block; 
  }
.imagem_card {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    
   }

footer {
    
}
